.family-page {
  padding: 20px;
}

.add-btn,
.upload-btn {
  background: #111;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.add-btn:hover,
.upload-btn:hover {
  background: #444;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.photo-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s;
}

.photo-grid img:hover {
  transform: scale(1.05);
}
.photo-card {
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
}

.photo-card:hover .delete-icon {
  opacity: 1;
}
.photo-card img {
  cursor: zoom-in;
}
.photo-card {
  cursor: grab;
}

.photo-card:active {
  cursor: grabbing;
}
